main {
    min-height: 800px; // tmp
}

.fp-contact-bar {
    background: #000;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    h3 {
        margin-bottom: 0;
    }
    p {
        margin: 0;
    }
    .btn {
        margin-left: 24px;
    }
}

/** Top Cards on Front Page */
.fp-top-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 40px;
    color: $mediumGray;
    text-align: center;
    .card {
        max-width: 240px;
        width: 240px;
        border-radius: 0;
        border: none;
        box-shadow: none;
        flex: 0 1 23%;
    }
    .card-block {
        padding: 12px 8px;
    }
    .card-title {
        text-transform: uppercase;
        font-size: $h2FontSize;
        // font-weight: bold;
        margin: 0;
    }
    .card-text {
        font-size: 18px
    }
    .card-footer {
        border: none;
        background: none;
        padding: 0;
        margin-top: auto;
    }
}

/** Triple cards - common element (on front page and about us currently) */
.ce-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 40px;
    text-align: center;
    .card {
        max-width: 30%;
        width: 30%;
        border-radius: 0;
        border: none;
        flex: 0 1 30%;
        padding: 16px 8px;
        box-shadow: 0 0 12px rgba(black,0.5);
    }
    .card-img-top {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .card-block {
        padding: 36px 0 20px;
    }
    .card-title {
        text-transform: uppercase;
        font-size: $h2FontSize;
        font-weight: bold;
        margin-bottom: 40px;;
        color: $primaryColor;
    }
    .card-footer {
        /** HIDE FOR NOW */
        display: none;
        // border: none;
        // background: none;
        // padding: 0;
        // margin-top: auto;
    }
    .btn {
        width: 70%;
    }
}

.fp-generations {
    .col-img {
        text-align: right;
        img {
            border: 10px solid #fff;
            box-shadow: 0 0 12px rgba(black,0.25);
        }
        p {
            margin-bottom: 0;
        }
    }
}

/**
 * PAGES
 */

.page-content {
    h1 {
        margin-bottom: 2.75rem;
    }
    ul, ol {
        padding-left: 24px;
    }
    li {
        margin: 8px 0;
    }
}

.page-lead-in {
    background-color: $lightGray;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    *:last-child {
        margin-bottom: 0;
    }
    .special-heading {
        margin: 0 0 2.75rem;
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 1.1;
        display: block;
    }
}

// light gray bg full width with image in second column - no padding!
.no-pad-img {
    background-color: $lightGray;
    margin-top: 50px;
    margin-bottom: 50px;
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .col-info {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .col-img {
        text-align: right;
        p {
            margin: 0;
        }
    }
}

.related-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 40px;
    padding-bottom: 24px;
    .r-item {
        width: 46%;
        max-width: 46%;
        text-align: center;
        margin-bottom: 16px;
        padding: 16px;
        background-color: $mediumGray;
        color: #fff;
        h1 {
            margin-bottom: 24px;
        }
    }
}

.contact-page-container {
    margin-top: 40px;
    .col-form {
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: $lightGray;
    }
    .col-img {
        align-self: center;
        padding-left: 32px;
        p:last-child {
            margin: 0;
        }
    }
}

.testimonials-listing {
    article {
        margin-bottom: 60px;
    }
    .the-testimonial {
        p:last-child {
            margin-bottom: 0.5rem;
        }
    }
}

.btm-map {
    iframe {
        display: block;
        width: 100%;
        min-height: 600px;
    }
}

.light-bg {
    background-color: $lightGray;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and(max-width: 991px) {
    .fp-generations {
        .col-img {
            order: -1;
            padding-bottom: 40px;
            text-align: center;
        }
    }
    .ce-cards {
        .card {
            max-width: 100%;
            width: 100%;
            flex: 1 0 100%;
            margin-bottom: 40px;
        }
    }
    .no-pad-img {
        .col-img {
            text-align: center;
            padding-bottom: 40px;
        }
    }
    .contact-page-container {
        .col-img {
            text-align: center;
            padding: 25px 0 0;
        }
    }
    .col-img {
        text-align: center;
    }
    .btm-map {
        iframe {
            min-height: 400px;
        }
    }
}


@media screen and(max-width: 767px) {
    .fp-top-cards {
        justify-content: space-around;
        .card {
            flex-basis: 50%;
            margin-bottom: 25px;
        }
    }
    .related-items {
        .r-item {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
    }
    .our-history-img {
        justify-content: center;
        flex-wrap: wrap;
        p {
            text-align: center;
            flex-basis: 100%;
        }
    }
}
@media screen and(max-width: 549px) {
    .fp-top-cards {
        .card {
            flex-basis: 100%;
        }
    }
}

@media screen and(max-width: 497px) {
    .fp-contact-bar {
        .btn {
            margin: 10px auto 0;
            display: block;
        }
    }
}
