.footer-contact-container {
    text-align: center;
    background-color: $mediumGray;
    padding: 60px 16px;
    color: #fff;
    h2 {
        font-size: $h1FontSize;
        font-weight: 600;
        margin-bottom: 28px;
    }
    margin-top: 24px;
    margin-bottom: 24px;
}

.site-footer {
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color: $primaryColor;
        }
    }
}
.copyright-container {
    background-color: $primaryColor;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 15px;
}

.flex-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.subfooter {
    align-items: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    .f-item {
        max-width: 33.33%;
    }
    .links {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            position: relative;
            padding-left: 24px;
            margin-bottom: 18px;
            &:before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 11px solid $primaryColor;
            }
        }
    }
    .contact {
        text-align: right;
        display: flex;
        flex-direction: column;
        p {
            margin-top: auto;
        }
    }
}

@media screen and (max-width: 1199px) {
    .subfooter {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .subfooter {
        .f-item {
            max-width: 50%;
        }
    }
}

@media screen and (max-width: 767px) {
    .site-footer {
        .container {
            width: 100%;
            max-width: 100%;
        }
    }
    .subfooter {
        .f-item {
            max-width: 100%;
            flex-basis: 100%;
            margin-top: 32px;
            text-align: center;
        }
        .links {
            order: 1;
            li {
                display: inline-block;
                margin-bottom: 12px;
                margin-right: 5px;
                &:before {
                    border: none;
                    display: none;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:after {
                    content: ' ';
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left: 11px solid $primaryColor;
                }
            }
        }
        .contact {
            order: 2;
            .social {
                margin-bottom: 1.5rem;
            }
        }
        .agents {
            order: 3;
            img {
                display: block;
                margin: 8px auto;
            }
        }
    }
    .copyright-container {
        .copyright,
        .netgain {
            flex-basis: 100%;
            text-align: center;
        }
        .copyright {
            margin-bottom: 30px;
        }
    }
}
