.site-header {
    background-color: #fff;

    // Logop
    .logo {
        width: 100%;
        max-width: 302px; // actual width
        z-index: 99996;
        a {
            display: block;
        }
    }
}

.flex-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

/** Remove unneeded stuff -- this was a copy pasta from ngmvp */
.sticky-header {
    .header-nav {
        position: fixed;
        z-index: 99997;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 3px 20px rgba(black,0.2);
        // transition: max-height 0.15s ease-in-out;
        > div { // .container
            // width: 100%;
            // padding: 0;
            justify-content: space-between;
            align-items: center;
        }
    }
    .flex-header {
        .logo {
            display: none;
        }
        .header-block {
            display: none;
            .inner-block {
                // display: none;
            }
        }
    }
    .sticky-logo {
        // display: block;
        position: static;
        a {
            opacity: 1;
            transition: opacity 0.5s ease-in-out
        }
    }
    .header-nav {
        height: 50px; // IE needs this
    }
    .main-nav>ul>li {
        // line-height: 50px;
    }
    .mast {
        padding-top: 50px;
    }
}



.header-nav {
    background-color: $secondaryColor;
    .main-nav,
    .mobile-icons {
        a {
            height: 50px;
            line-height: 50px;
        }
        .nav-phone {
            padding-top: 3px;
        }
    }
    .mobile-icons {
        overflow: hidden;
    }
    > div {
        display: flex;
        justify-content: flex-end;
        // transition: all 0.2s;
    }
}


.mobile-icons {
    display: none; // for now
}
