/** COLORS */

$primaryColor  : #ee4426; // orange
$darkGray      : #231f20;
$mediumGray    : #6d6e71;
$lightGray     : #ebebec;
$secondaryColor: $darkGray;

$textColor: #000;
$linkColor: $primaryColor;
$linkHoverColor: $textColor;

/** FONTS */
$baseFont      : Arial, sans-serif;
$headingFont   : $baseFont;
$altFont       : $baseFont;
$bodyFont      : $baseFont;

$h1FontSize  : 1.875rem; // 30px
$h2FontSize  : 1.5625rem; // 25px
$h3FontSize  : 1.4375rem; // 23px
$h4FontSize  : 1.375rem; // 22px
$bodyFontSize: 1.25rem; // 20px

/** PARTIALS */

@import "base";
@import "header";
@import "forms";
@import "navigation";
@import "mobile_nav";
@import "content";
@import "sliders";
@import "footer";
@import "modal";
@import "overrides";
